# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# To get the number of rides(ride_id) grouped by type of city, we need to merge the two dataframses.
# merge different data sets import the os module with the dependencies

import os

# File to Load (Remember to change these)- changed
city_data_path = 'Resources/city_data.csv'
ride_data_path = 'Resources/ride_data.csv'

In [2]:
# Read the City Data
city_data_df = pd.read_csv(city_data_path)
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [3]:
# Read the Ride Data
ride_data_df = pd.read_csv(ride_data_path)
ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [4]:
# Before analysing the data it need to be wrangled (cleaned, munged)
# Inspect and or clean up the City & Ride Data DataFrame 
# Get the columns and rows that are not null
# Check to confirm the correct data type is being used
# Get all the rows that contain null values by getting rows that are not null.df.count() or df.isnull().sum() method) 
# Findout number of data points for each city type.

In [5]:
# Get the columns and the rows that are not null. (All counts at 120 so no missing values, clean data set)
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [6]:
# Confirm the data type (Datatypes are ok)
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [7]:
# Get all the rows that contain null values (no null values so ok)
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [8]:
# Get the columns and the rows that are not null.(All counts at 2375 so no missing values, clean data set)
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [9]:
# Confirm the data type (date is object type so best to clean it up before merging the data or analysing it)
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [10]:
# Get all the rows that contain null values (no null values so ok)
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [11]:
## convert datetime column to just date using normalize()
# method
# ride_data_df['date']=pd.to_datetime(ride_data_df['DateTime']).dt.normalize()

In [12]:
# Recheck the data type (date has been changed from object type to date type)
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

### Merge the DataFrames

In [13]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [14]:
#  To get the total rides for each city typefirst group by type of city - Get the unique values of the different types of city so as to create define these variables(types of cities)
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

## Deliverable 1: Get a Summary DataFrame

In [15]:
#  1. Get the total rides for each city type now
# Total number of rides for each city type
Total_Rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
Total_Rides.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [18]:
# 2. Get the total drivers for each city type

In [22]:
Total_Drivers = city_data_df.groupby(["type"]).sum()["driver_count"]
Total_Drivers.head()

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [23]:
#  3. Get the total amount of fares for each city type
# Use the sum function to get the total number of fares for each city type
Total_Fare = pyber_data_df.groupby(["type"]).sum()["fare"]
Total_Fare.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [24]:
#  4. Get the average fare per ride for each city type. 
# Average fare per ride is total fare / no of rides - simplifies apply the mean function formula to get the same result
Average_Fare_Per_Ride = pyber_data_df.groupby(["type"]).mean()["fare"]
Average_Fare_Per_Ride.head()

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [25]:
# 5. Get the average fare per driver for each city type. 
Average_Fare_Per_Driver = pyber_data_df.groupby(["type"]).mean()["driver_count"]
Average_Fare_Per_Driver.head()

type
Rural        4.296000
Suburban    13.712000
Urban       36.678154
Name: driver_count, dtype: float64

In [ ]:
# In Step 6, create a PyBer summary DataFrame with all the data gathered from Steps 1-5, using the column names shown below:.

In [43]:
summary.dict() ({"Total_Rides":[Rural, 125],[Suburban, 625],[Urban, 1625],}
    {"Total_Drivers":[Rural, 78], [Suburban, 490], [Urban, 2405]},
    {"Total_Fare":[Rural, 4327.93], [Suburban, 19356.33], [Urban, 39854.38]},
     {"Average_Fare_Per_Ride":[Rural, 34.623440], [Suburban, 30.970128], [Urban, 24.525772]},
     {"Average_Fare_Per_Driver":[Rural, 4.296000], [Suburban, 13.712000], [Urban, 36.678154]},

SyntaxError: invalid syntax (916241773.py, line 1)

In [ ]:
# Initialize data to Dicts of series.
d = {'one': pd.Series([10, 20, 30, 40],
                      index=['a', 'b', 'c', 'd']),
     'two': pd.Series([10, 20, 30, 40],
                      index=['a', 'b', 'c', 'd'])}
  
# creates Dataframe.
df = pd.DataFrame(d)
  
# print the data.
df

In [ ]:
#df = pd.DataFrame({"A":[2,3],"B":[4,5]}, index=["a","b"])
df
#{
   column_1: Series(value_1, value_2, ...)
   column_2: Series(...)
   ...
}

In [ ]:
#  6. Create a PyBer summary DataFrame.

In [ ]:
Type = [Total_Rides, Total_Drivers, Total_Fares, Average_Fare_Per_Ride, Average_Fare_Per_Driver]
Type.head()

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  1. Get the total rides for each city type
# To group by type of city - Get the unique values of the different types of city so as to create define these variables(types of cities)
city_data_df["type"].unique()
# create type of city dataframes - Urban Cities DF
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()
# create type of city dataframes - Suburban Cities DF
suburban_cities_df = pyber_data_df[pyber_data_df["type"]=="Suburban"]
suburban_cities_df.head()
# create type of city dataframes - Rural Cities DF
rural_cities_df = pyber_data_df[pyber_data_df["type"]=="Rural"]
rural_cities_df.head()

In [ ]:
#  4. Get the average fare per ride for each city type. 
# Average fare per ride is total fare / no of rides - simplifies apply the mean function formula to get the same result
# Get average fare for each Urban city.
urban_avg_fare = urban_cities_df.groupby(["city"]).mean()["fare"]
urban_avg_fare.head()
# Get average fare for each Suburban city.
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare.head()
# Get average fare for each city rural city.
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare.head()

In [ ]:
City_Type_df = pyber_data_df[pyber_data_df["type"] == "type"]
City_Type_df.head()

In [ ]:
# Import NumPy and the stats module from SciPy.
import numpy as np
import scipy.stats as sts

In [ ]:
urban_cities_df.describe()

In [ ]:
sum_fares_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
sum_fares_by_type

In [ ]:
# Get the sum of the number of drivers for each city type
sum_driver_count_by_type = pyber_data_df.groupby(["driver_count"]).sum()["driver_count"]
sum_fares_by_type

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

In [ ]:
import datetime
import numpy as np

format='%d%m%Y'
,format='%H:%M %p', exact=False
,format='%m%d%Y', exact=False