In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd


# To get the number of rides(ride_id) grouped by type of city, we need to merge the two dataframses.
# merge different data sets import the os module with the dependencies

import os

# File to Load (Remember to change these)- changed
city_data_path = 'Resources/city_data.csv'
ride_data_path = 'Resources/ride_data.csv'

In [2]:
# Read the City Data
city_data_df = pd.read_csv(city_data_path)
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [3]:
# Read the Ride Data
ride_data_df = pd.read_csv(ride_data_path)
ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [4]:
# Before analysing the data it need to be wrangled (cleaned, munged)
# Inspect and or clean up the City & Ride Data DataFrame 
# Get the columns and rows that are not null
# Check to confirm the correct data type is being used
# Get all the rows that contain null values by getting rows that are not null.df.count() or df.isnull().sum() method) 
# Findout number of data points for each city type.

In [5]:
# Get the columns and the rows that are not null. (All counts at 120 so no missing values, clean data set)
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [6]:
# Confirm the data type (Datatypes are ok)
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [7]:
# Get all the rows that contain null values (no null values so ok)
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [8]:
# Get the columns and the rows that are not null.(All counts at 2375 so no missing values, clean data set)
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [9]:
# Confirm the data type (date is object type so best to clean it up before merging the data or analysing it)
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [10]:
# Get all the rows that contain null values (no null values so ok)
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [11]:
## convert datetime column to just date using normalize()
# method
# ride_data_df['date']=pd.to_datetime(ride_data_df['DateTime']).dt.normalize()

In [12]:
# Recheck the data type (date has been changed from object type to date type)
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [13]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [14]:
#  To get the total rides for each city typefirst group by type of city - Get the unique values of the different types of city so as to create define these variables(types of cities)
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [15]:
## Deliverable 1: Get a Summary DataFrame

In [16]:
#  1. Get the total rides for each city type now
# Total number of rides for each city type
Total_Rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
Total_Rides.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [21]:
# 2. Get the total drivers for each city type
Total_Drivers = pyber_data_df.groupby(["type"]).count()["driver_count"]
Total_Drivers.head()

type
Rural        125
Suburban     625
Urban       1625
Name: driver_count, dtype: int64

In [ ]:
#  3. Get the total amount of fares for each city type
# Use the sum function to get the total number of fares for each city type
Total_Fare = pyber_data_df.groupby(["type"]).sum()["fare"]
Total_Fare.head()

In [ ]:
#  4. Get the average fare per ride for each city type. 
# Average fare per ride is total fare / no of rides - simplifies apply the mean function formula to get the same result
Average_Fare_Per_Ride = pyber_data_df.groupby(["type"]).mean()["fare"]
Average_Fare_Per_Ride.head()

In [ ]:
# 5. Get the average fare per driver for each city type. 
Average_Fare_Per_Driver = pyber_data_df.groupby(["type"]).mean()["driver_count"]
Average_Fare_Per_Driver.head()